html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: lightgray;
}

#main {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.container{
  margin: 1em;
}

.primary-bg-colour{
  background-color: #3f51b5;
}

.secondary-bg-colour{
  background-color: #FFF;
}

.card-title{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title{
  margin:1em 1em 1em 1em;
  padding:1em 1em 1em 1em;
  background-color: #3f51b5;
  color: #FFF;
}

.card-title h2{
  padding: 1em 0em 0em 1em;
  color: #FFF;
}

.simple-padding{
  padding: 1em;
}

.card-container{
  padding: 1em 1em 1em 1em;
  border-left-style: solid;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: lightblue;
}

.card{
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0.5em;
}

.wide{
  width: 100%;
}

.align-right{
  margin-left: auto;
}

.color-inherit{
  background-color: inherit;
}
